---
import Layout from '../layouts/Base.astro';
import { sanityClient } from 'sanity:client';

// Define the type for experience
interface Experience {
  company: string;
  role: string;
  dates: string;
  description?: string;
}

const experiences: Experience[] = await sanityClient.fetch(`
  *[_type == "experience"] | order(order asc) {
    company,
    role,
    dates,
    description
  }
`);

const images = [
  'https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg',
];
---

<Layout>
  <!-- Hero Section -->
  <section>
    <div class="container-custom flex h-[34rem] flex-col items-end gap-6 pt-20 md:flex-row">
      <div class="flex flex-col gap-4 md:basis-1/2">
        <!-- Left Side - Intro -->
        <h1 class="mb-4">Nice to meet you,</h1>
        <p>
          I’m Ciel, a 2024 graduate from the University of Virginia, where I studied a blend of
          computer science, psychology, and design.
        </p>
        <p>
          Previously I’ve worked for a nonprofit, a startup, and an agency, where I worked on
          feature launches, experimented with animation, and learned professional web development.
        </p>
        <p>
          Apart from UX/UI, I love fashion, journaling, cozy games, ramen noodles, playing tennis,
          and books — currently (Aug 2025), I'm reading The Creative Act by Rick Rubin.
        </p>
        <p>
          Thanks for reading, and for visiting my page :) If you have any feedback, questions, or
          ideas for collaboration, I’d love to hear from you!
        </p>
      </div>

      <!-- Right Side - Image -->
      <div class="relative flex h-100 w-full overflow-hidden md:basis-1/2">
        <!-- {
          images.map((img, i) => (
            <img
              src={img}
              class="absolute h-full object-cover outlined transition-all"
              style={`
                transform: translateX(${i * -70}%);
                z-index: ${images.length - i};
              `}
            />
          ))
        } -->
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="container-custom flex flex-col gap-8 py-24 md:gap-24 md:py-50">
    <h2>✦ Experience</h2>
    <div class="flex flex-col gap-10">
      {
        experiences.map((experience) => (
          <div class="flex flex-col justify-between gap-4 border-t border-gray-300 pt-4 md:flex-row">
            <div class="flex flex-col gap-4">
              <h3>{experience.company}</h3>
              <h5>{experience.role}</h5>
              {experience.description && (
                <p class="text-sm text-gray-600">{experience.description}</p>
              )}
            </div>
            <h4>{experience.dates}</h4>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
