---
import Layout from '../layouts/Base.astro';
import { sanityClient } from 'sanity:client';

// Define the type for experience
interface Experience {
  company: string;
  role: string;
  dates: string;
  description?: string;
}

const experiences: Experience[] = await sanityClient.fetch(`
  *[_type == "experience"] | order(order asc) {
    company,
    role,
    dates,
    description
  }
`);

const images = [
  'https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg',
];

// can't decide if lg or xl as hero breakpoint looks better!!!
const breakpoint = 'lg';
---

<Layout>
  <!-- hero -->
  <section>
    <div class="container-custom my-20 flex flex-col gap-6 lg:my-30 lg:min-h-screen">
      <!-- top -->
      <div class="row-span-1 grid min-h-0 grid-rows-2 items-end gap-6">
        <!-- header -->
        <div class="mb-2 grid grid-cols-2 gap-6 lg:mb-10">
          <div></div>
          <h1>Nice to meet you,</h1>
        </div>
        <!-- details -->
        <div class="tiny-text grid grid-cols-4 gap-6">
          <p>02</p>
          <div></div>
          <p>Designer + Developer</p>
          <p class={`${breakpoint}:justify-self-start justify-self-end`}>About me</p>
        </div>
      </div>
      <!-- bottom -->
      <div class={`${breakpoint}:grid-cols-4 grid min-h-0 grid-cols-1 gap-6 md:grid-cols-2`}>
        <!-- img -->
        <div class={`${breakpoint}:col-span-3 col-span-1 aspect-[5/3] w-full img-container `}>
          <img
            src="https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg"
            class="h-full w-full object-cover object-center transition-all"
          />
        </div>
        <!-- paragraph -->
        <div class="col-span-1 flex flex-col justify-between gap-10 text-sm">
          <div class="flex flex-col gap-4">
            <p>
              I’m Ciel, a 2024 graduate from the University of Virginia, where I studied a blend of
              computer science, psychology, and design.
            </p>
            <p>
              Previously I’ve worked for a nonprofit, a startup, and an agency, where I worked on
              feature launches, experimented with animation, and learned professional web
              development.
            </p>
            <p>
              Thanks for reading, and for visiting my page :) If you have any feedback, questions,
              or ideas for collaboration, I’d love to hear from you!
            </p>
          </div>
          <div class="md:hidden lg:block">
            <p class="tiny-text mb-2">Current Favorites:</p>
            <ul>
              <li>Books: The Design of Everyday Things</li>
              <li>Shows: Jujutsu Kaisen</li>
              <li>Games: Silent Hill F</li>
              <li>Music: Radiohead, Oklou, Yerin Baek</li>
              <li>Food: Rose Tteokbokki</li>
              <li>Fashion: Skirts over pants, Yohji Yamamoto</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="container-custom flex flex-col gap-8 md:gap-24">
    <!-- <h2>✦ Experience</h2> -->
    <div class="flex flex-col gap-10">
      {
        experiences.map((experience) => (
          <div class="border-light flex flex-col justify-between gap-4 border-t pt-4 md:flex-row">
            <div class="flex flex-col gap-4">
              <p class="small-text leading-none">{experience.company}</p>
              <h4>{experience.role}</h4>
              {experience.description && (
                <p class="text-sm text-gray-600">{experience.description}</p>
              )}
            </div>
            <p class="small-text leading-none">{experience.dates}</p>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
