---
import Layout from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import imageUrlBuilder from '@sanity/image-url'
import type { SanityImageSource } from '@sanity/image-url/lib/types/types'

const builder = imageUrlBuilder(sanityClient)

function urlFor(source: SanityImageSource) {
  return builder.image(source)
}

const WORKS_QUERY = `*[
  _type == "work"
  && defined(slug.current)
]|order(order asc)[0...12]{
  _id, 
  title, 
  slug, 
  description,
  image {
    ...,
    hotspot,
    crop
  },
  tags,
}`;

const works = await sanityClient.fetch<SanityDocument[]>(WORKS_QUERY);
---

<Layout>

	<Hero/>

	<!-- Projects Section -->
	<section class="py-20 md:py-50 container-custom-small flex flex-col gap-18 md:gap-38">
			<h2>✦ Experience</h2>

			<!-- Projects -->
			<div class="min-h-screen">
				<ul class="flex flex-col gap-20 md:gap-50">
				{works.map((work) => (
					<div class="flex flex-col gap-8">
						<!-- Overline -->
						<div class="flex justify-between pt-4 border-t border-dark">
							<h3 class="-mb-4">{work.title}</h3> 
							<h4 class="hidden md:block">
								{work.tags && work.tags.length > 0 
									? work.tags.join(' ✦ ')
									: ''
								}
							</h4>
						</div>
						<div class="aspect-[5/3] border border-green overflow-hidden">

							<a href={`/works/${work.slug.current}`}>
								<img 
									src={urlFor(work.image).width(1200).url()}
									srcset={`
									${urlFor(work.image).width(400).url()} 400w,
									${urlFor(work.image).width(800).url()} 800w,
									${urlFor(work.image).width(1200).url()} 1200w
									`}
									sizes="(max-width: 768px) 400px, (max-width: 1024px) 800px, 1200px"
									alt={work.image.alt}
									class="w-full h-full object-cover mix-blend-luminosity hover:mix-blend-normal hover:scale-105 transition duration-450"
								/>
							</a>
							
						</div>
						<h5 class="md:text-center">{work.description}</h5>
					</div>
					
					))}
				</ul>
			</div>
				

			  <!-- View All Projects Link -->
			  <!-- 
			  <div class="text-center mt-16">
				<a href="/works" class="inline-flex items-center px-8 py-4 rounded-full border border-dark hover:bg-dark hover:text-light-beige transition-colors">
				  View All Projects
				</a>
			  </div> 
			  -->
	</section>
</Layout>