---
import Layout from '../layouts/Base.astro';
import type { SanityDocument } from '@sanity/client';
import { sanityClient } from 'sanity:client';
import imageUrlBuilder from '@sanity/image-url';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';

const builder = imageUrlBuilder(sanityClient);

function urlFor(source: SanityImageSource) {
  return builder.image(source);
}

const WORKS_QUERY = `*[
  _type == "work"
  && defined(slug.current)
]|order(order asc)[0...12]{
  _id, 
  title, 
  slug, 
  description,
  image {
    ...,
    hotspot,
    crop
  },
  tags,
}`;

const works = await sanityClient.fetch<SanityDocument[]>(WORKS_QUERY);
---

<Layout>
  <section class="">
    <div class="container-custom flex h-[34rem] flex-col">
      <!-- heading -->
      <div class="flex flex-1 items-end lg:w-1/2">
        <h1>I’m Ciel, and I bring ideas to life with design + code</h1>
      </div>
      <!-- summary -->
      <div class="flex flex-1 items-end">
        <div class="flex w-full gap-6">
          <!-- curr + prev -->
          <div class="flex flex-1 flex-col gap-6 lg:flex-row">
            <div class="flex flex-1 flex-col gap-1">
              <p class="tiny-text mb-2">Currently</p>
              <div>
                <span>UX Designer @</span>
                <a href="https://www.northropgrumman.com/" target="_blank"
                  ><span>Northrop Grumman</span></a
                >
              </div>
            </div>
            <div class="flex-1">
              <p class="tiny-text mb-2">Previously</p>
              <div class="hidden gap-2 md:flex">
                <span>UI Developer Intern @</span>
                <a href="https://viget.com" target="_blank"><span>Viget</span></a>
              </div>
            </div>
          </div>
          <!-- descr -->
          <div class="flex-1">
            <p>
              With a background in computer science + psychology, I bridge the gap between design
              vision and technical implementation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="container-custom py-10">
    <!-- <h2>✦ Experience</h2> -->

    <!-- Projects -->
    <div>
      <ul class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {
          works.map((work) => (
            <div class="col-gap-8 flex flex-col">
              {/* class={`flex flex-col gap-8 
          ${index % 2 === 0 ? "basis-2/3" : "basis-1/3"}`} */}
              <div class="img-container aspect-[5/3]">
                <a href={`/works/${work.slug.current}`}>
                  <img
                    src={urlFor(work.image).width(1200).url()}
                    srcset={`
									${urlFor(work.image).width(400).url()} 400w,
									${urlFor(work.image).width(800).url()} 800w,
									${urlFor(work.image).width(1200).url()} 1200w
									`}
                    sizes="(max-width: 768px) 400px, (max-width: 1024px) 800px, 1200px"
                    alt={work.image.alt}
                    class="h-full w-full object-cover transition duration-450 hover:scale-105"
                  />
                </a>
              </div>
              <div class="flex justify-between pt-3">
                <h3 class="text-dark text-sm">{work.title}</h3>
                <p class="tiny-text hidden md:block">
                  {work.tags && work.tags.length > 0 ? work.tags.join(' ✦ ') : ''}
                </p>
              </div>
              {/* <p class="tiny-text hidden md:block">{work.description}</p> */}
            </div>
          ))
        }
      </ul>
    </div>

    <!-- View All Projects Link -->
    <!-- 
			  <div class="text-center mt-16">
				<a href="/works" class="inline-flex items-center px-8 py-4 rounded-full border border-dark hover:bg-dark hover:text-light-beige transition-colors">
				  View All Projects
				</a>
			  </div> 
			  -->
  </section>
</Layout>
